{% extends 'base.html' %}

{% block title %} About Destiny's Chef Club {% endblock %}

{% block pageDescription %}<meta name="description" 
    content="Learn more about Destiny's Chef Club."/> {% endblock %}

{% block body %} 

<h1>About Destiny's Chef's Club </h1>
<p></p>
<p></p>
<p></p>
<h6>Hi! Welcome to Destiny's Chef Club! I've had a passion for baking for as long as I can remember, learning recipes from my family and trying them on my own as I have gotten older.
    On this site, you will find some of my favorite recipes along with recipes from other people who share my passion. I hope you enjoy this page and find a new favorite dessert. </h6>


<p></p>
<p></p>
<p></p>


<center><img src="http://destnygriffn.me/static/chefsclub_big.png" class="img-fluid" alt="Responsive image containing brand.">
{% endblock %}